VIRTUAL_HOST: URLOFHOST
LETSENCRYPT_HOST: URLOFHOST 
LETSENCRYPT_EMAIL: letsencrypt@email.com

WORDPRESS_DB_HOST: db:3306
WORDPRESS_DB_USER: root
WORDPRESS_DB_PASSWORD: root
WORDPRESS_CONFIG_EXTRA: define('WP_ALLOW_MULTISITE', true );
